html {
	font-size: 25px;
	font-family: Roboto, sans-serif;
}
body {
	background-image: url('../img/edit/background.jpg');
	background-size: 100%;
}
.select-movies {
	height: 50px;
	width: 95%;
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	border: solid 1px;
	background-color: hsla(0, 0%, 100%, 0.85);
}
.column {
	float: left;
	height: 280px;
}
.row:after {
	content: '';
	display: table;
	clear: both;
	padding: 20px;
}
.photo {
	height: 320px;
	border-radius: 5px;
	float: left;
	border: solid 1px;
}
.info {
	border-radius: 5px;
	width: auto;
	border: solid 1px;
	padding: 20px;
	margin-left: 5px;
	background-color: hsla(0, 0%, 100%, 0.85);
}
.data {
	width: 75%;
	border-radius: 5px;
	border: solid 1px;
	padding: 20px;
	margin-left: 5px;
	background-color: hsla(0, 0%, 100%, 0.85);
}
